<div class="container">
  <ng-template>
    <div class="overlay">
      <div
        class="example-dialog-content form-body"
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
      >
        <h1 id="form-title">New event</h1>

        <form
          class="form-body"
          [formGroup]="scheduleForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" name="title" />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Select a date"
              formControlName="date"
              name="selectedDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Select time</mat-label>
            <mat-select formControlName="time">
              <mat-option *ngFor="let hour of hourList" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
					
					<small
            class="text-danger"
            *ngIf="scheduleForm.errors?.['dateError']"
            >{{scheduleForm.errors?.['dateError']}}</small
          >

          <div class="form-footer">
            <button
              class="close-button"
              mat-raised-button
              (click)="closeDialog()"
            >
              Back
            </button>
            <button
              class="save-button"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!scheduleForm.valid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <div class="schedule">
    <div class="calendar-header">
      <button mat-raised-button color="basic" (click)="previousMonth()">
        Previous
      </button>
      <span class="current-month">{{ monthName }} {{ currentYear }}</span>
      <button mat-raised-button color="primary" (click)="nextMonth()">
        Next
      </button>
    </div>
    <table mat-table [dataSource]="weeks" class="mat-elevation-z8">
      <ng-container [matColumnDef]="weekday" *ngFor="let weekday of weekdays">
        <th mat-header-cell *matHeaderCellDef>
          {{ weekday }}
        </th>
        <td
          (click)="updateCurrentDay(week[weekday].day)"
          mat-cell
          *matCellDef="let week"
          [ngClass]="{
            'current-day': isCurrentDay(
              week[weekday].day,
              week[weekday].isCurrentMonth
            ),
            'other-month': !week[weekday].isCurrentMonth
          }"
        >
          {{ week[weekday].day }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="weekdays"></tr>
      <tr mat-row *matRowDef="let row; columns: weekdays"></tr>
    </table>
  </div>
  <div class="events">
    <div class="header-events">
      <p id="header-day">{{ selectedDay }}</p>
      <div class="example-button-container">
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a home icon"
          (click)="openDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="events-body">
      <table mat-table [dataSource]="hourList" class="hour-table">
        <ng-container matColumnDef="hour">
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngStyle]="{
              'background-color': true ? '#F7F7F7 ' : '#F8F8F8 ',
              border: 'none'
            }"
          ></th>
          <td
            mat-cell
            *matCellDef="let hourEvent"
            [ngStyle]="{
              'background-color': true ? '#F7F7F7 ' : '#F7F7F7 ',
              border: 'none'
            }"
          >
            {{ hourEvent }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['hour']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['hour']"></tr>
      </table>
      <div class="drag-list">
        <div
          cdkDropList
          class="drop-list example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let event of filteredEvents"
            [ngStyle]="{
              'pointer-events': event.title == '' ? 'none' : 'auto'
            }"
            cdkDrag
          >
            <div class="drag-body">
              <p class="drag-title-component">
                {{ event.title != "" ? event.time : "" }}
              </p>
              <p class="drag-title-component">{{ event.title }}</p>
              <div class="example-button-container">
                <button
                  *ngIf="event.title != ''"
                  mat-mini-fab
                  color="warn"
                  aria-label="Example icon button with a home icon"
                  (click)="deleteSchedule(event.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
